* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #0d1321;
    color: #e5f1f8;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 2.5vw;
    color: #92AF44;
}

h2 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1.4vw;
}

h2,
h3 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

p {
    font-size: 1.1vw;
    color: #cbd7de;
    display: inline-block;
    margin: 0 50px;
}

hr {
    display: none;
}


/* ----- Header ----- */

header {
    text-align: center;
    margin: 50px 0 10px;
}

header h2 {
    font-size: 1.3vw;
    color: #B9DAEE;
}

header div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.spock-logo {
    width: 10%;
    height: auto;
    margin: 20px 35px 0;
}


/* ----- Game Area ----- */

.game-area {
    display: flex;
    flex-direction: column;
    border: 2px #B9DAEE solid;
    padding: 35px 0;
    width: 60%;
}

.player-section,
.house-section,
.game-options,
.reset {
    text-align: center;
}

/* Game Section */

.game-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.game-section h2 {
    margin-bottom: 40px;
}

.big-emoji {
    width: 120px;
    height: auto;
}

.big-emoji-2 {
    max-width: 120px;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.vs-section {
    padding: 10px;
    background-color: #3D5471;
    border-radius: 5px;
}

.vs-section h3 {
    color: #f2cd60;
}

/* Game Options */

.game-options h3 {
    margin-bottom: 25px;
}

.btn {
    background-color: #273c5c;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

.small-emoji {
    width: 55px;
    padding: 10px;
}

#reset-btn {
    display: none;
    background-color: #0d1321;
    width: 20%;
    height: 50px;
    border-radius: 10%;
    box-shadow: 0px 0px 10px 2px rgba(127, 255, 0, 0.7);
    text-align: center;
}

#reset-btn:hover {
    background-color: #232835;
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px 2px rgba(127, 255, 0, 0.7);
}

#reset-btn h3 {
    color: #92AF44;
}


/* ----- Modal ----*/

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #141E30;
    padding: 25px;
    width: 75%;
    border-radius: 20px;
}

.modal-content img {
    max-width: 100%;
    margin-top: 10px;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


/* ----- Footer ----*/

footer {
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
}

#game-rules {
    cursor: pointer;
}



/* ----- media queries ----- */

/* for all devices that can hover */
@media (hover: hover) {

    .btn:hover {
        background-color: #324867;
        transform: translateY(-2px);
        box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
    }
}

/* for medium to larger screen size from 1280px wide and down */
@media screen and (max-width: 1280px) {
    header {
        margin: 40px 0 10px;
    }

    .game-area {
        padding: 40px 0;
    }

    .game-section {
        margin-bottom: 30px;
    }

    .game-section h2 {
        margin-bottom: 25px;
    }

    .big-emoji {
        width: 95px;
    }

    .big-emoji-2 {
        width: 95px;
    }

    .vs-section {
        margin-top: 45px;
    }

    .game-options h3 {
        margin-bottom: 30px;
    }
}

/* for medium screen size from 1024px wide and down */
@media screen and (max-width: 1024px) {

    h1 {
        font-size: 3.5vw;
    }

    h2 {
        font-size: 2.3vw;
    }

    h3 {
        font-size: 2vw
    }

    p {
        font-size: 2.5vw;
    }

    header {
        margin: 50px 0 10px;
    }

    header h2 {
        font-size: 2vw;
    }

    .game-area {
        padding: 50px 0 60px;
        width: 80%;
    }

    .game-section {
        margin-bottom: 60px;
    }

    .vs-section {
        margin-top: 55px;
    }

    .game-options h3 {
        margin-bottom: 35px;
    }

    hr {
        display: inline-block;
        border: transparent;
        width: 100%;
        height: 0;
    }
}

/* for small screen size from 850px wide and down */
@media screen and (max-width: 850px) {

    .big-emoji {
        width: 80px;
    }

    .big-emoji-2 {
        width: 80px;
    }

    .vs-section {
        padding: 8px;
        margin-top: 45px;
    }

    .btn {
        width: 55px;
        height: 55px;
    }

    .small-emoji {
        width: 47px;
        height: 47px;
    }

}

/* for extra small screen size from 500px wide and down */
@media screen and (max-width: 580px) {

    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 2.3vw;
    }

    p {
        font-size: 2.8vw;
    }

    header {
        margin: 30px 0 10px;
    }

    header h2 {
        font-size: 2.2vw;
    }

    .spock-logo {
        margin: 15px 20px 0
    }

    .game-area {
        padding: 20px 0 30px;
    }

    .game-section {
        margin-bottom: 20px;
    }

    .game-section h2 {
        margin-bottom: 20px;
    }

    .big-emoji {
        width: 55px;
    }

    .big-emoji-2 {
        width: 55px;
    }

    .vs-section {
        padding: 5px;
        margin-top: 30px;
    }

    .game-options h3 {
        margin-bottom: 20px;
    }

    .btn {
        width: 45px;
        height: 45px;
        margin: 0 5px;
    }

    .small-emoji {
        width: 40px;
        height: 40px;
    }

    footer {
        margin-bottom: 0px;
    }
}